@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oops! Sorry something went wrong!</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Limitless/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Limitless/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Limitless/js/main/jquery.min.js"></script>
    <script src="~/Limitless/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Limitless/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Limitless/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>

<body>
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Container -->
                <div class="flex-fill">

                    <!-- Error title -->
                    <div class="text-center mb-3">
                        <h1 class="error-title">404</h1>
                        <h5>@ViewBag.Message</h5>
                    </div>
                    <!-- /error title -->
                    <!-- Error content -->
                    <div class="row">
                        <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">

                            <!-- /search -->
                            <!-- Buttons -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <a asp-action="Index" asp-controller="Home" asp-area="@null" class="btn btn-primary btn-block"><i class="icon-home4 mr-2"></i> Home</a>
                                </div>

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="col-sm-6">
                                        <a asp-action="index" asp-controller="Dashboard" asp-area="Panel" class="btn btn-secondary btn-block"><i class="icon-home2 mr-2"></i> Dashboard</a>
                                    </div>
                                }
                            </div>
                            <!-- /buttons -->

                        </div>
                    </div>
                    <!-- /error wrapper -->

                </div>
                <!-- /container -->

            </div>
        </div>
    </div>



</body>
</html>
