@{
    Layout = "_Layout";
}


<!-- MAIN START -->
<div class="container-fluid">
    <section class="container main-section main-section-1 mt-4 mb-5">
        <h2 class="d-inline">F-Garden Hotel (Sheki)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">40AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-2 mb-5">
        <h2 class="d-inline">Riva Hill Resort (Lenkaran)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">80AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-3 mb-5">
        <h2 class="d-inline">Hope Lake Hotel (Zagatala)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">40AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-9 mb-5">
        <h2 class="d-inline">Hilton Istanbul Bomonti (Turkey)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">182AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-10 mb-5">
        <h2 class="d-inline">Grand Cappadocia Hotel (Turkey)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">78AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-7 mb-5">
        <h2 class="d-inline">Hillstone Bodrum Hotel (Turkey)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">182AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-8 mb-5">
        <h2 class="d-inline">Smart Hotel Izmir (Turkey)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">51AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-4 mb-5">
        <h2 class="d-inline">Graduate Athens (Georgia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">$144 per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-5 mb-5">
        <h2 class="d-inline">Loews Atlanta Hotel (Georgia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">$186 per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-6 mb-5">
        <h2 class="d-inline">The Thunderbird Inn Savannah (Georgia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">192AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section  main-section-7 mb-5">
        <h2 class="d-inline">Azimut Hotel Smolenskaya (Russia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">70AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-8 mb-5">
        <h2 class="d-inline">Park Inn by Radisson (Russia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">82AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-9 mb-5">
        <h2 class="d-inline">Marins Park Hotel (Russia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">126AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-10 mb-5">
        <h2 class="d-inline">Mercure Kaliningrad (Russia)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">158AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-1 mb-5">
        <h2 class="d-inline">Hotel Barcelona 1882 (Spain)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">180AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-2 mb-5">
        <h2 class="d-inline">Hotel Regina (Spain)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">111AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-3 mb-5">
        <h2 class="d-inline">Hotel Fernando III (Spain)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">200AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-4 mb-5">
        <h2 class="d-inline">Atlanta Star Hotel (Italy)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">103AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-5 mb-5">
        <h2 class="d-inline">Splendid Venice (Italy)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">273AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-6 mb-5">
        <h2 class="d-inline">Hotel Machiavelli Palace (Italy)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">92AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section  main-section-7 mb-5">
        <h2 class="d-inline">Hyatt Regency Paris Etoile (France)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">300AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>

    <section class="container main-section main-section-8 mb-5">
        <h2 class="d-inline">Le Kleber Hotel (France)</h2>
        <div class="d-inline main-star ml-5">
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="main-star__icon ">
                <use xlink:href="~/Main/img/sprite.svg#icon-star"></use>
            </svg>
        </div>
        <h6 class="main-section-pay">96AZN per night</h6>

        <ul class="main-section-features mt-4 ml-5">
            <li>7/24 available food service</li>
            <li>2 beds in each room</li>
            <li>Food is not included to the price</li>
        </ul>
    </section>
</div>